// BUTTONS

.blue-button {
    line-height:32px;
    height: 32px;
    color: #FFF;


    border: 0 none;
    border-radius: 16px;
    background: $blue;
    box-sizing: border-box;
    padding: 0px 12px;

    cursor: pointer;

    &:hover {
        background:#005ABE;
    }
}